<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <script type="text/javascript" src="../script/scopeChain.js"></script>
    <h1>Quick Dating!</h1>
    <hr>
    <form action="">
        Name:
        <input type="text" placeholder="username">
        <br><br>

        Gender:
        <label><input type="radio" name="gender" checked>Male</label>
        <label><input type="radio" name="gender">Female</label>
        <br><br>

        City:
        <select>
            <option>Shanghai</option>
            <option selected>Beijing</option>
            <option>Hangzhou</option>
        </select>
        <br><br>

        Type:
        <label><input type="checkbox" name="" id="" checked>Cute</label>
        <label><input type="checkbox" name="" id="">Cool</label>
        <label><input type="checkbox" name="" id="">Smart</label>
        <br><br>

        Comment:
        <br>
        <textarea name="" id="" cols="30" rows="10"></textarea>

        <br>
        <ul>
            <li>Yep</li>
            <li>Yep</li>
            <li>Yep</li>
        </ul>
        <input type="checkbox" name="" id="">I promise the information above are real.

        <br><br>
        <input type="submit" value="Register Free" name="" id="">
        <button type="reset">Reset</button>


    </form>
</body>
</html>